<?php
/* vim: set expandtab sw=4 ts=4 sts=4: */

/**
 * This is needed for cookie based authentication to encrypt password in
 * cookie
 */
$cfg['blowfish_secret'] = '${OPENSHIFT_SECRET_KEY}'; /* YOU MUST FILL IN THIS FOR COOKIE AUTH! */
$cfg['PmaAbsoluteUri'] = 'https://${OPENSHIFT_ALLOWED_HOSTS}/phpMyAdmin/';

/**
 * Servers configuration
 */
$i = 0;

/**
 * First server
 */
$i++;
/* Authentication type */
$cfg['Servers'][$i]['auth_type'] = 'signon';
/* Server parameters */
$cfg['Servers'][$i]['host'] = '${OPENSHIFT_MYSQL_DB_HOST}';
$cfg['Servers'][$i]['port'] = '${OPENSHIFT_MYSQL_DB_PORT}';
$cfg['Servers'][$i]['AllowNoPassword'] = true;
$cfg['Servers'][$i]['SignonURL'] = 'https://${OPENSHIFT_ALLOWED_HOSTS}/phpMyAdmin/signon.php';
$cfg['Servers'][$i]['SignonSession'] = 'SignonSession';
$cfg['Servers'][$i]['SignonURL'] = '/';

/**
 * Directories for saving/loading files from server
 */
$cfg['UploadDir'] = '';
$cfg['SaveDir'] = '';

