{% extends "admin/change_list.html" %}
{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'home' %}">{% trans 'Home' %}</a>
{% if title %} &rsaquo; {{ title }}{% endif %}
</div>
{% endblock %}

{% block branding %}
<h1 id="site-name">{{ site_header|default:_('Django administration') }}</h1>
{% endblock %}


{% block object-tools %}


    {% block download-pdf %}
    
        <script>
            function iframe_download_pdf(){
                $('body').append('<iframe src="/member/member/download_pdf"></iframe>');
            }
                
            $( document ).ready(function() {
                $("#toolbar div").append('<input type="button" value="Download PDF" onclick="iframe_download_pdf();" style="float: right;">');
            });
        
        </script>
    
    {% endblock %}

{% endblock %}
