{% load i18n %}
{% load account_tags %}


<ul class="nav navbar-nav pull-right">
    {% if request.user.is_authenticated %}
        <p class="navbar-text">
            {% if  request.user.userprofile and request.user.userprofile.family %}
                <a href="{% url 'profile:change_family' %}" title="Change Family Information"><i class="fa fa-user"></i> {% user_display request.user %}</a>
            {% else %}
                <i class="fa fa-user"></i> {% user_display request.user %}
            {% endif %}
        </p>
        <li>
            <a id="account_logout" href="{% url 'account_logout' %}"><i class="fa fa-power-off"></i> {% trans "Log out" %}</a>
        </li>
    {% endif %}
</ul>

<form id="accountLogOutForm" style="display: none;" action="{% url 'account_logout' %}" method="POST">
    {% csrf_token %}
</form>
