<!DOCTYPE html>
<html>
<head>

<title>>Grade {{grade}} Attendance Sheet </title>

<style type="text/css">
body{
    font-size:large;
    line-height: 150%;
}
table{
    border-collapse:collapse;
    border:1px solid black;
    width:100%;
    height:90%;
}

table td,th{
    border:1px solid black;
}

html, body, .outer { height: 100%; }

.inner { 
    height: 100%;
}

.allergy {
    font-size: smaller;
}

.title {
  font-weight: 500;
  font-size: 30px;	    
}

@media print  {
    .printButton { visibility: hidden; }
    .downloadExcel { visibility: hidden; }
}

</style>
</head>

{% block content %}
<div class="inner">
    
<span class="title">
{% if grade in "N" %}
Nursery- {{quarter}} 
{% else %}
Grade {{grade}} - {{quarter}} 
{% endif %}
</span>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button class="printButton" onclick="javascript:window.print();" >Print</button>    
<button class="downloadExcel" title="Download as Excel File"  onclick="javascript: window.open(window.location.href+'?excel=True');">Download</button>

<table>
<tr>
<th style="width:150px;">Name</th>
{% if show_grade %}
<th style="width:50px;" >Grade</th>
{% endif %}
<th style="width:100px;">Allergy</th>

{% for sunday in sundays %}
<th>{{sunday}}</th>
{% endfor %}
</tr>    
{% for children in children_list %}
<tr>
<td>{{ children.first_last }}</td>
{% if show_grade %}
<td>{{ children.ssgrade }}</td>
{% endif %}
<td> <span class="allergy">{{ children.allergies_medical_conditions_medications }} </span> </td>
{% for sunday in sundays %}
<td></td>
{% endfor %}

</tr>
{% endfor %}

{% for f in filler %}
<tr>
<td>&nbsp;</td>
{% if show_grade %}
<td>&nbsp;</td>
{% endif %}
<td> <span class="allergy">&nbsp;</span> </td>
{% for sunday in sundays %}
<td></td>
{% endfor %}
</tr>
{% endfor %}


</table>
</div>

{% endblock %}

<body>

</body>
</html>
