
<!DOCTYPE html>
<html>
<head>

<title>>Grade {{grade}} Attendance Sheet </title>

<style type="text/css">
body{
    font-size:large;
    line-height: 150%;
}
table{
    border-collapse:collapse;
    border:1px solid black;
    width:100%;
    height:100%;
}

table td,th{
    border:1px solid black;
}

.inner { 
    height: 100%;
}

.allergy {
    font-size: smaller;
}

</style>
</head>

{% block content %}

{% if grade in "N" %}
<h2>Nursery- {{quarter}} </h2>
{% else %}
<h2>Grade {{grade}} - {{quarter}} </h2>
{% endif %}

<div class="inner">
<table>
<tr>
<th style="width:150px;">Name</th>
{% if "+" in grade %}
<th style="width:50px;" >Grade</th>
{% endif %}
<th style="width:100px;">Allergy</th>

{% for sunday in sundays %}
<th>{{sunday}}</th>
{% endfor %}
</tr>    
{% for children in children_list %}
<tr>
<td>{{ children.first_last }}</td>
{% if "+" in grade %}
<td>{{ children.ssgrade }}</td>
{% endif %}
<td> <span class="allergy">{{ children.allergies_medical_conditions_medications }} </span> </td>
{% for sunday in sundays %}
<td></td>
{% endfor %}

</tr>
{% endfor %}
</table>
</div>

{% endblock %}

<body>

</body>
</html>
