{% extends "site_base.html" %}

{% block head_title %}Family Contact {% endblock %}

{% block topbar_base %}
{% endblock %}

{% block body_base %}
    <section class="jumbotron">
        <div class="container">
            <h2 class="text-center"> Family Contact</h2>

                {{ form.non_field_errors }}
                
                <div class="fieldWrapper">
                    {{ form.home_address.errors }}
                    <label for="{{ form.home_address.id_for_label }}">Home Address:</label>
                    {{ form.home_address }}
                </div>

                <div class="fieldWrapper">
                    {{ form.home_phone.errors }}
                    <label for="{{ form.home_phone.id_for_label }}">Home Phone:</label>
                    {{ form.home_phone }}
                </div>

                <div class="fieldWrapper">
                    {{ form.cell_phone1.errors }}
                    <label for="{{ form.cell_phone1.id_for_label }}">Cell Phone 1:</label>
                    {{ form.home_phone }}
                </div>

                <div class="fieldWrapper">
                    {{ form.cell_phone2.errors }}
                    <label for="{{ form.cell_phone2.id_for_label }}">Cell Phone 2:</label>
                    {{ form.home_phone }}
                </div>

        </div>
    </section>
{% endblock %}

