{% extends "site_base.html" %}
{% block head_title %}Online Directory Signup {% endblock %}
{% block topbar_base %}
{% endblock %}
{% block body_base %}
    <section class="jumbotron">
        <div class="container">
            <h2 class="text-center">Signup for MCCC Online Directory Access </h2>
                <p>
                Dear {{first_nm1}}{% if dir_type == "C" %} and {{first_nm2}}{% endif %}:
                </p>
                <p>
                The online directroy system uses email based anthentication, each person gain individual account after sign up the email.
                {% if num_email == 1 %}
                Our record indicate that your family have 1 email in the system,
                {% else %}
                Our record indicate that your family have {{num_email}} emails in the system,
                {% endif %}
                Click Ok to signup {{invite_email}} to access the system.
                
                </p>
                <form class="form-horizontal"  method="post">  {% csrf_token %}
                  <button type="submit" class="btn  btn-primary btn-lg">Ok</button>
                </form>                
        </div>
    </section>
{% endblock %}
