{% extends "site_base.html" %}

{% block head_title %}Family Contact {% endblock %}

{% block topbar_base %}
{% endblock %}

{% block body_base %}
    <section class="jumbotron">
        <div class="container">
            <h2 class="text-center"> Family Contact Information</h2>
            
                {{ form.non_field_errors }}
                

<form class="form-horizontal">

  <div class="form-group">
    {{ form.address.errors }}
    <label for="{{ form.address.id_for_label }}" class="col-sm-2 control-label">Address:</label>
    <div class="col-sm-10">
      {{ form.address }}
    </div>
  </div>
  <div class="form-group">
    {{ form.city.errors }}
    <label for="{{ form.city.id_for_label }}" class="col-sm-2 control-label">City:</label>
    <div class="col-sm-10">
      {{ form.city }}
    </div>
  </div>

  <div class="form-group">
    {{ form.state.errors }}
    <label for="{{ form.state.id_for_label }}" class="col-sm-2 control-label">State:</label>
    <div class="col-sm-10">
      {{ form.state }}
    </div>
  </div>

  <div class="form-group">
    {{ form.zip.errors }}
    <label for="{{ form.zip.id_for_label }}" class="col-sm-2 control-label">Zip:</label>
    <div class="col-sm-10">
      {{ form.zip }}
    </div>
  </div>

  <div class="form-group">
    {{ form.home_phone.errors }}
    <label for="{{ form.home_phone.id_for_label }}" class="col-sm-2 control-label">Home Phone:</label>
    <div class="col-sm-10">
      {{ form.home_phone }}
    </div>
  </div>
{% if dir_type == "C" %}

  <div class="form-group">
    {{ form.last_nm1.errors }}
    <label for="{{ form.last_nm1.id_for_label }}" class="col-sm-2 control-label">Last Name:</label>
    <div class="col-sm-10">
      {{ form.last_nm1 }}
    </div>
  </div>
  <div class="form-group">
    {{ form.first_nm1.errors }}
    <label for="{{ form.first_nm1.id_for_label }}" class="col-sm-2 control-label">Husband First Name:</label>
    <div class="col-sm-10">
      {{ form.first_nm1 }}
    </div>
  </div>
  <div class="form-group">
    {{ form.chinese_nm1.errors }}
    <label for="{{ form.chinese_nm1.id_for_label }}" class="col-sm-2 control-label">Husband Chinese Name:</label>
    <div class="col-sm-10">
      {{ form.chinese_nm1 }}
    </div>
  </div>

  <div class="form-group">
    {{ form.cell_phone1.errors }}
    <label for="{{ form.cell_phone1.id_for_label }}" class="col-sm-2 control-label">Husband Cell Phone:</label>
    <div class="col-sm-10">
      {{ form.cell_phone1 }}
    </div>
  </div>
  <div class="form-group">
    {{ form.first_nm2.errors }}
    <label for="{{ form.first_nm2.id_for_label }}" class="col-sm-2 control-label">Wife First Name:</label>
    <div class="col-sm-10">
      {{ form.first_nm2}}
    </div>
  </div>
  <div class="form-group">
    {{ form.chinese_nm2.errors }}
    <label for="{{ form.chinese_nm2.id_for_label }}" class="col-sm-2 control-label">Wife Chinese Name:</label>
    <div class="col-sm-10">
      {{ form.chinese_nm2}}
    </div>
  </div>

  <div class="form-group">
    {{ form.cell_phone_2.errors }}
    <label for="{{ form.cell_phone_2.id_for_label }}" class="col-sm-2 control-label">Wife Cell Phone:</label>
    <div class="col-sm-10">
      {{ form.cell_phone2}}
    </div>
  </div>

{% else %}
  <div class="form-group">
    {{ form.last_nm1.errors }}
    <label for="{{ form.last_nm1.id_for_label }}" class="col-sm-2 control-label">Last Name:</label>
    <div class="col-sm-10">
      {{ form.last_nm1 }}
    </div>
  </div>
  <div class="form-group">
    {{ form.first_nm1.errors }}
    <label for="{{ form.first_nm1.id_for_label }}" class="col-sm-2 control-label">First Name:</label>
    <div class="col-sm-10">
      {{ form.first_nm1 }}
    </div>
  </div>
  <div class="form-group">
    {{ form.chinese_nm1.errors }}
    <label for="{{ form.chinese_nm1.id_for_label }}" class="col-sm-2 control-label">Chinese Name:</label>
    <div class="col-sm-10">
      {{ form.chinese_nm1 }}
    </div>
  </div>

  <div class="form-group">
    {{ form.cell_phone1.errors }}
    <label for="{{ form.cell_phone1.id_for_label }}" class="col-sm-2 control-label">Cell Phone:</label>
    <div class="col-sm-10">
      {{ form.cell_phone1 }}
    </div>
  </div>

{% endif %}

<!--
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label>
          <input type="checkbox"> Remember me
        </label>
      </div>
    </div>
  </div>
  -->
  
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
  </div>
</form>                

        </div>
    </section>
{% endblock %}

